@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /*  border: 1px solid red; */
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer components {
  .blue-gradient {
    background: linear-gradient(-45deg, #34d399, #0694a2);
    background-size: 400% 400%;
    animation: animate-gradient 15s ease infinite;
  }

  .purple-gradient {
    background: linear-gradient(-45deg, #a21caf, #6c2bd9);
    background-size: 300% 400%;
    animation: animate-gradient 5s ease infinite;
  }

  .orange-gradient {
    background: linear-gradient(-45deg, #faca15, #f43f5e);
    background-size: 130% 100%;
    animation: animate-gradient 8s ease infinite;
  }

  .pseudo-glow {
    @apply relative before:absolute before:inset-2 before:block before:blur-lg before:transition-all before:duration-75 before:ease-in-out before:hover:blur-xl;
  }

  .animate-purple-gradient {
    background: linear-gradient(to right, #a21caf, #6c2bd9);
    background-size: 120% 100%;
  }

  .colorful-gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 100% 100%;
    animation: animate-gradident 1s ease infinite;
  }

  .colorful-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f1f5f9'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    pointer-events: none;
  }

  .inner-shadow {
    box-shadow: inset 7px 0 9px -7px rgb(255, 0, 0);
    box-shadow: inset -7px 0 9px -7px rgb(255, 0, 0);
  }

}
