@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer components {
  .blue-gradient {
    background: linear-gradient(90deg, #00d2ff, #3a7bd5);
    background-size: 400% 400%;
    animation: animate-gradient 5s ease infinite;
  }

  .colorful-gradient {
    background: linear-gradient(-45deg,#23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: animate-gradient 15s ease infinite;
  }
}

